<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  
  <table id="song-details">
    <tbody>
      <tr>
        <td class="details-title">Name:</td>
        <td><%= song.name %></td>
      </tr>
      <tr>
        <td class="details-title">Artist:</td>
        <td><%= song.artist %></td>
      </tr>
      <tr>
        <td class="details-title">Released:</td>
        <td><%= song.releaseYear %></td>
      </tr>
      <tr>
        <td>-</td>
      </tr>
      <tr>
        <td class="details-title">Added By:</td>
        <td><%= song.addedBy.name %></td>
      </tr>
      <tr>        
        <td class="details-title">Their Rating:</td>
        <td><%= song.theirRating %></td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <h2>Reviews</h2>

  <form 
  action="/songs/<%= song._id %>/reviews" 
  method="POST"
  >
    <label for="comment-input"></label>
    <input type="text" name="comment" id="comment-input" placeholder="Add a comment" required>
    <label for="rating-input">Rating: </label>
    <input type="number" name="rating" id="rating-input" placeholder="1-10" min="1" max="10" required>

    <button type="submit">Add</button>
  </form>

  <% if (song.reviews.length) { %>
    <h3>Here are the reviews</h3>
    <h3><%= song.reviews.comment %></h3>

    <table>
      <thead>
        <tr>
          <th>By</th>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% song.reviews.forEach(review => { %>
          <tr>
            <td><%= review.author.name %></td>
            <td><%= review.comment %></td>
            <td><%= review.rating %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  <% } else {%>
    <h3>No reviews yet...</h3>
  <% } %>

</main>

<%- include('../partials/footer') %>